<div class="header">
    <div class="header-container">
        <div class="header-logo">
            <img src="\assets\crackItLog.png" alt="crack It Logo">
        </div>

        <div class="header-nav-items">
            <ul><a href="#">Home</a></ul>
            <ul><a href="#">News</a></ul>
            <ul><a href="#">Aptitude</a></ul>
            <ul><a href="#">Verbal</a></ul>
            <ul><a href="#">About Us</a></ul>
        </div>

        <div class="user-account">
            <div class="user-account-logo">
                <img src="\assets\userImg.png" alt="uesr">
            </div>

            <div class="user-account-userId">
                <p>Username</p>
            </div>
        </div>

    </div>
</div>