<footer>
    <div class="footer-column">
        <h3>Our Members</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/aniket-labade-893b94226/" target="_blank">Aniket Labde</a></li>
            <li><a href="https://www.linkedin.com/in/atharva-patil-6a762a231/" target="_blank">Atharva Patil</a></li>
            <li><a href="https://www.linkedin.com/in/mahesh-s-patil-14437022a/" target="_blank">Mahesh Patil</a></li>
            <li><a href="https://www.linkedin.com/in/maroti-patre-180907217/" target="_blank">Maroti Patre</a></li>
            <li><a href="https://www.linkedin.com/in/dprathamesh/" target="_blank">Prathamesh Dhavale</a></li>
            <li><a href="https://www.linkedin.com/in/tushar-suroshe-a72968266/" target="_blank">Tushar Suroshe</a></li>
        </ul>
    </div>

    <div class="footer-column">
        <h3>Help</h3>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Refund Policy</a></li>
        </ul>
    </div>

    <div class="footer-column">
        <h3>Study Material</h3>
        <ul>
            <li><a href="#">Daily Words</a></li>
            <li><a href="#">Phrases</a></li>
            <li><a href="#">Aptitude Questions</a></li>
            <li><a href="#">DSA Question</a></li>
            <li><a href="#">Tech News</a></li>
        </ul>
    </div>

    <div class="footer-column">
        <h3>Services</h3>
        <ul>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Takeout</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Reservation</a></li>
            <li><a href="#">Online Ordering</a></li>
        </ul>
    </div>
</footer>