.header{
    background-color: #f3eded;
    background-color: white;
    border-bottom: 2px solid black;
}

.header-container{
    background-color: #f3eded;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 25px 15px 25px;
}

.header-container-firstPart{
    display: flex;
    flex-wrap: wrap;
}

.header-logo{
    align-items: center;
    width: 70px;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.header-logo img{
    width: 40px;
}
.header-logo img:hover{
    transition: all;
    transition-duration: 600ms;
    width: 40px;
}

.header-nav-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-nav-items ul a{
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 25px;
    color: black;
    display: inline-block;
    width: 110px;
    text-align: center;
    color: #000;
    
}

.header-nav-items ul a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #e0a00a;
}

.header-container-secondPart{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btnLogin button, .btnDailyTask button{
    border-radius: 48px;
    font-weight: bold;
    margin: 0px 5px;
    font-size: 25px;
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
}

.btnDailyTask button{
    background: #D9D9D9;
}

.btnLogin button:hover, .btnDailyTask button:hover{
    background-color: black;
    color: white;
}

#home_header_item_a{
    width: 70px;
}