<div class="header">
    <div class="header-container">
        <div class="header-container-firstPart">
            <div class="header-logo">
                <img src="\assets\crackItLog.png" alt="crack It Logo">
            </div>
    
            <div class="header-nav-items">
                <ul><a href="#" id="home_header_item_a">Home</a></ul>
                <ul><a href="#">News</a></ul>
                <ul><a href="#">Aptitude</a></ul>
                <ul><a href="#">Verbal</a></ul>
                <ul><a href="#">About Us</a></ul>
            </div>
        </div>

        <div class="header-container-secondPart">
            <div class="btnDailyTask">
                <button>Daily Task</button>
            </div>

            <div class="btnLogin">
                <button>Login</button>
            </div>
        </div>

    </div>
</div>